body{
  background: white;

}
.desktop{
  border: 1px solid black;
  max-width:5%;
  width:auto;
  height:auto;
}
#logo{
  border: 1px solid black;
  display: block;
  display: inline-block;
  font-style: bolder;
}
#menu{
  border: 1px solid black;
  display: block;
  display: inline-block;
}
#icon{
  border: 1px solid black;
}
#ddhicon{
  border: 1px solid black;
  max-width:100%;
  width:auto;
  height:auto;
}
#fromdodaha{
  font-style: Copperplate;
  color: black;
  border: 1px solid black;
  display: block;
  display: inline-block;
}
#maintext{
  border: 1px solid black;
  display: block;
  display: inline-block;
}
maintext.p{
  border: 1px solid black;
  display: inline-block;
}
.text-center{
  text-align: center;

}
.total-center{
  margin:10px auto;
  display:block;
}
