body{
  font-size: 20px;
  font-family: Permanent Marker;
  background-color: #FFFFFF;
}
.desktop{
  border: 1px solid black;
  max-width:5%;
  width:auto;
  height:auto;
}

#logo{
  border: 1px solid black;
  display: block;
  display: inline-block;
  font-style: bolder;
}
#menu{
  border: 1px solid black;
  display: block;
  display: inline-block;
}
#icon{
  border: 1px solid black;
  max-width:5%;
  width:auto;
  height:auto;
  margin-left: 10%;
}
#ddhicon{
  border: 1px solid black;
  max-width: 100%;
  width:auto;
  height:auto;
  display: block;
  display: inline-block;
}
#fromdodaha{
  font-style: Lucida Console;
  color: black;
  border: 1px solid black;
  display: block;
  display: inline-block;
  margin-left: 10%;
  
}
#maintext{
  border: 1px solid black;
  display: block;
  display: inline-block;
}
p{
  border: 1px solid black;
  display: inline-block;
  font-family: Courier New;
  width: 320px;
  padding: 10px;
  margin-left: 10%;
}
#footer{
  border: 1px solid black;
  text-align: center;
}
